body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header, h1, h2, h3, p, div, input, button {
  box-sizing: border-box;
}

.flex-box {
  flex-grow: 1;
}

header {
  width: 100%;
  height: 65px;
  color: white;
  background-color: #409051;
  padding: 0 30px;
  display: flex;
  align-items: center;
}
header .meun {
  display: flex;
}
header .logo, header .overview, header .link-roll, header .login {
  font-size: 20px;
  font-weight: 600;
  padding: 20px;
  transition: all 0.3s;
}
header .logo:hover, header .overview:hover, header .link-roll:hover, header .login:hover {
  color: #A6D0AF;
  cursor: pointer;
}
header .overview .overview-active {
  color: #A6D0AF;
}
header .link-roll .link-roll-active {
  color: #A6D0AF;
}
header .login .login-active {
  color: #A6D0AF;
}
header .active {
  color: #A6D0AF;
}

.intro {
  position: relative;
  z-index: 1;
  height: 200px;
  width: 600px;
  background-color: #305C3A;
  border-radius: 20px;
  color: white;
  padding: 20px 60px;
  margin: auto;
  margin-top: 80px;
}

.keywords {
  z-index: 0;
  position: relative;
  bottom: 100px;
  margin: auto;
  width: 800px;
  min-width: 700px;
  height: auto;
  padding: 100px 0 60px 0;
  background-color: #A6D0AF;
  border-radius: 20px;
}

.keyword-box {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  margin: 30px auto;
  height: 220px;
  width: 500px;
  background-color: white;
}
.keyword-box h4 {
  margin: 5px;
}
.keyword-box .line {
  height: 1px;
  background-color: black;
  position: relative;
}
.keyword-box input {
  border: none;
  padding: 15px;
  width: 400px;
  font-size: 18px;
  margin: 10px;
}
.keyword-box input:focus {
  border-radius: 10px;
  outline: 1px solid #305C3A;
}

.submit {
  font-size: 20px;
  font-weight: 700;
  padding: 10px 20px;
  position: absolute;
  bottom: -70px;
  right: 0;
  background-color: #409051;
  border: 2px solid #409051;
  color: white;
}
.submit:hover {
  cursor: pointer;
  background-color: #A6D0AF;
  border: 2px solid #409051;
}

.plus {
  text-align: center;
  position: absolute;
  font-size: 22px;
  bottom: 7px;
  border-radius: 20px;
  left: 50%;
  transform: translate(-50%, 0%);
  width: 100px;
  padding: 10px;
  border: 2px solid #A6D0AF;
}
.plus:hover {
  cursor: pointer;
  border: 2px solid #409051;
}

.page {
  line-height: 26px;
  font-size: 20px;
  border: 2px solid #305C3A;
  border-radius: 20px;
  margin: 30px auto;
  width: 600px;
  padding: 30px;
}

.result-box {
  max-height: 80vh;
  max-width: 800px;
  margin: 40px auto;
  padding: 10px 30px;
  background-color: #A6D0AF;
  width: 80%;
  border-radius: 10px;
  overflow: scroll;
}

.result {
  justify-content: center;
  background-color: white;
  margin: 20px 0;
  padding: 10px;
  border-radius: 10px;
  transition: all 0.3s;
}
.result:hover {
  cursor: pointer;
  transform: scale(1.03);
}
.result h4 {
  margin: 0;
  padding: 10px 0 0 10px;
}
.result div {
  display: flex;
  padding: 10px;
}

.detail {
  justify-content: center;
  background-color: white;
  margin: 20px 0;
  padding: 10px;
  border-radius: 10px;
  transition: all 0.3s;
}
.detail h4 {
  margin: 0;
  padding: 10px 0 0 10px;
}
.detail div {
  display: flex;
  padding: 10px;
}

.detail-box {
  max-height: 80vh;
  max-width: 1800px;
  margin: 40px auto;
  padding: 10px 30px;
  background-color: #A6D0AF;
  width: 80%;
  border-radius: 10px;
  overflow: scroll;
}

.table-wrap {
  overflow: scroll;
  background-color: white;
  margin: 20px 0;
  padding: 10px;
  border-radius: 10px;
}
.table-wrap table {
  margin: 16px 0px;
}
.table-wrap th, .table-wrap td {
  min-width: 120px;
  padding: 10px;
  text-align: center;
}/*# sourceMappingURL=App.css.map */