$main-color: #409051;
$light-color: #A6D0AF;
$blod-color: #305C3A;

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header,h1,h2,h3,p,div,input,button{
    box-sizing: border-box;
}

.flex-box{
    flex-grow: 1;
}

header {
    width: 100%;
    height: 65px;
    color: white;
    background-color: $main-color;
    padding: 0 30px;
    display: flex;
    align-items: center;

    .meun {
        display: flex;
    }

    .logo, .overview, .link-roll, .login{

        font-size: 20px;
        font-weight: 600;
        padding: 20px;
        transition: all 0.3s;

        &:hover{
            color: $light-color;
            cursor: pointer;
        }
    }

    .overview .overview-active{
        color: $light-color;
    }

    .link-roll .link-roll-active{
        color: $light-color;
    }

    .login .login-active{
        color: $light-color;
    }

    .active {
        color: $light-color;
    }
}

.intro {
    position: relative;
    z-index: 1;
    height: 200px;
    width: 600px;
    background-color: $blod-color;
    border-radius: 20px;
    color: white;
    padding: 20px 60px;
    margin: auto;
    margin-top: 80px;
}

.keywords{
    z-index: 0;
    position: relative;
    bottom: 100px;
    margin: auto;
    width: 800px;
    min-width: 700px;
    height: auto;
    padding: 100px 0 60px 0;
    background-color: $light-color;
    border-radius: 20px;
}

.keyword-box{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    margin: 30px auto;
    height: 220px;
    width: 500px;
    background-color: white;

    h4{
        margin: 5px;
    }

    .line{
        height: 1px;
        background-color: black;
        position: relative;
    }

    input{
        border: none;
        padding: 15px;
        width: 400px;
        font-size: 18px;
        margin: 10px;

        &:focus{
            border-radius: 10px;
            outline: 1px solid $blod-color;
        }
    }
}

.register{
    font-size: 20px;
    font-weight: 700;
    padding: 10px 20px;
    position: absolute;
    bottom: -70px;
    left: 0;

    background-color: $main-color;
    border: 2px solid $main-color;
    color: white;

    &:hover{
        cursor: pointer;
        background-color: $light-color;
        border: 2px solid $main-color;
    }
}

.submit{
    font-size: 20px;
    font-weight: 700;
    padding: 10px 20px;
    position: absolute;
    bottom: -70px;
    right: 0;

    background-color: $main-color;
    border: 2px solid $main-color;
    color: white;

    &:hover{
        cursor: pointer;
        background-color: $light-color;
        border: 2px solid $main-color;
    }
}

.plus{
    text-align: center;
    position: absolute;
    font-size: 22px;
    bottom: 7px;
    border-radius: 20px;
    left: 50%;
    transform: translate(-50%, 0%);
    width: 100px;
    padding: 10px;

    border: 2px solid $light-color;

    &:hover{
        cursor: pointer;
        border: 2px solid $main-color;
    }
}

.page{
    line-height: 26px;
    font-size: 20px;
    border: 2px solid $blod-color;
    border-radius: 20px;
    margin: 30px auto;
    width: 600px;
    padding: 30px;
}

.result-box{
    max-height: 80vh;
    max-width: 800px;
    margin: 40px auto;
    padding: 10px 30px;
    background-color: $light-color;
    width: 80%;
    border-radius: 10px;
    overflow: scroll;
}

.result{
    position: relative;
    justify-content: center;
    background-color: white;
    margin: 20px 0;
    padding: 10px;
    border-radius: 10px;
    transition: all 0.3s;

    &:hover{
        cursor: pointer;
        transform:scale(1.03);
    }
    
    h4{
        margin: 0;
        padding: 10px 0 0 10px;
    }

    .result-keyword, .result-title{
        display: flex;
        padding: 10px;
    }

    .del{
        padding: 10px;
        font-size: 18px;
        position: absolute;
        right: 20px;
        border: 1px solid white;

        &:hover{
            border-radius: 30px;
            border: 1px solid black;
        }
    }
}

.detail{
    justify-content: center;
    background-color: white;
    margin: 20px 0;
    padding: 10px;
    border-radius: 10px;
    transition: all 0.3s;
    
    h4{
        margin: 0;
        padding: 10px 0 0 10px;
    }

    div{
        display: flex;
        padding: 10px;
    }
}

.detail-box{
    max-height: 80vh;
    max-width: 1800px;
    margin: 40px auto;
    padding: 10px 30px;
    background-color: $light-color;
    width: 80%;
    border-radius: 10px;
    overflow: scroll;
}


// .title{
//     background-color: white;
//     padding: 10px 20px;
//     border-radius: 10px;
//     width: fit-content;
// }

.table-wrap{
    overflow: scroll;
    background-color: white;
    margin: 20px 0;
    padding: 10px;
    border-radius: 10px;


    table{
        margin: 16px 0px;
    }

    th, td{
        min-width: 120px;
        padding: 10px;
        text-align: center;
    }
}

.login-wrap{
    z-index: 0;
    position: relative;
    margin: 30px auto;
    width: 800px;
    min-width: 700px;
    height: auto;
    padding: 100px 0 60px 0;
    background-color: $light-color;
    border-radius: 20px;

    h1{
        text-align: center;
    }
}

.login-box{
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    margin: 30px auto;
    height: 250px;
    width: 500px;
    background-color: white;

    h4{
        width: 80%;
        margin: 5px;
    }

    input{
        border: none;
        padding: 15px;
        width: 400px;
        font-size: 18px;
        margin: 10px;
        outline: 1px solid $blod-color;
        border-radius: 10px;
    }

    .submit{
        font-size: 20px;
        font-weight: 700;
        padding: 10px 20px;
        position: absolute;
        bottom: -70px;
        right: 0;

        background-color: $main-color;
        border: 2px solid $main-color;
        color: white;

        &:hover{
            cursor: pointer;
            background-color: $light-color;
            border: 2px solid $main-color;
        }
    }
}
